# VS Code
.vscode

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.bin

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Built Files
*.iso
isodir

# macOS Finder Data
*.DS_Store